a {
  text-decoration: none;
  color: #000;
}

.page-content-wrapper > div {
  margin: 2rem 0;
}
.encrypt,
.decrypt {
  margin: 4rem 0;
}
.footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
}
.results > div > h4 {
  margin-bottom: 1rem;
}
